// Шрифты

$primary-font: "Manrope", "Arial", sans-serif;

// Цвета

$transparent: transparent;
$background-color: #eeedef;
$basic-white: #ffffff;
$basic-gray: #f2f2f2;
$text-color: #1e1e1e;
$text-color-2: #6e6e73;
$dark-gray: #111111;
$basic-black: #000000;
$card-color: #0daa61;
$primary-color: #1e8702;
$error-color: #fc5050;

// Размеры вьюпортов

$desktop-width: 1440px;

// Размеры отступов

$section-mobile-margin: 100px;
$section-desktop-margin: 150px;
