.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border: 0;
  cursor: pointer;

  &--primary {
    padding: 15px 58px;
    font-weight: 700;
    width: 100%;
    border-radius: 32px;
    background-color: $primary-color;
    color: $basic-white;
    transition: background-color 0.5s ease, color 0.5s ease;

    &:hover,
    &:focus-visible {
      color: $basic-black;
      background-color: $basic-white;
    }

    @media (min-width: $desktop-width) {
      width: unset;
      padding: 15px 14px 15px 25px;
    }
  }
}
